h2 {
  margin-top: -20px;
  color: #867454;
  font-size: 20px;
  font-weight: bold;
}
.result {
  color: #867454;

  font-size: 30px;
}

.bookcontainer {
  list-style-type: none; /* Remove default list styling */
  padding: 0; /* Remove default padding */
  max-width: 600px; /* Set a max width for the list */
  margin: 0 auto; /* Center the list in the page */
  background: #e8dfcd; /* White background for the list */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  border-radius: 8px; /* Slightly rounded corners for the list */
  padding: 20px; /* Add some padding inside the list */
  color: #5d4c2f;
}
li {
  font-size: 18px; /* Set font size for list items */
  border-bottom: 1px solid #eee; /* Add a separator between items */
  padding: 10px 0; /* Add some padding top and bottom */
}

li:last-child {
  border-bottom: none; /* Remove bottom border for the last item */
}

button {
  display: block; /* Display button as a block element */
  width: 200px; /* Set a fixed width for the button */
  margin: 20px auto; /* Center the button horizontally with margin */
  padding: 10px; /* Add some padding inside the button */
  background-color: #ff6b81; /* Pink background color for the button */
  color: #fff; /* White text color */
  border: none; /* Remove the default border */
  border-radius: 4px; /* Slightly rounded corners for the button */
  font-size: 16px; /* Set font size for the button text */
  cursor: pointer; /* Change cursor to a pointer when over the button */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}
.score {
  margin-left: 70px;
}
